.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.icon-small {
  width: 16px;
  height: 16px;
}

.icon-medium {
  width: 20px;
  height: 20px;
}

.icon-large {
  width: 24px;
  height: 24px;
}
